<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Lemaj</strong> by <a href="https://github.com/YohannesKifle">Yohannes Kifle</a>. The website content
      is licensed <a href="https://github.com/YohannesKifle/Lemaj/blob/master/LICENSE">MIT</a>.
    </p>
  </div>
</footer>