{{#*inline "page"}}

<section class="hero is-danger">
    <div class="hero-body centered-children">
        <h1 class="title bigfont">404</h1>
        <h1 class="title">
            Not Found
        </h1>
        <h2 class="subtitle">
            The server could not find the requested resource.
        </h2>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}