{{#*inline "page"}}

<section class="hero is-danger">
    <div class="hero-body centered-children">
        <h1 class="title bigfont">500</h1>
        <h1 class="title">
            Internal Server Error
        </h1>
        <h2 class="subtitle">
            The server encountered an internal error while processing this request.
        </h2>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}