{{#*inline "page"}}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Lemaj
    </p>
    <p class="subtitle">
      Website to improve coding skills and compete in contests
    </p>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}