#main-section {
    width: 80%;
    margin: auto;
}

#main-footer {
    position:absolute;
    width:100%;
    bottom:0px;
}

.centered-children {
    text-align: center;
}

.bigfont {
    font-size: 6rem;
}